body{
    margin: 0;
    padding: 0;
    line-height: 1;

    font-family: monospace;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.row{
    max-width: 99%;
}

.main_card{

}
.main_sec{
    background-color: #6D9886;
}






.img_author img{
    width: 150px;
}

.single_counter{
    position: relative;
}

.number1,.number3,.number2{
    font-size: 19px;
    font-weight: 700 !important;
    position: absolute;
    top: 27.5px;
    color: #6D9886;
    left: 19px;
}


.profile{
    position: relative;
}

.profile_card{
    border: 1px solid #dddddd;
    width: 390px;
}

.follower_count{
    position: absolute;
    top: 70px;
    background-color: #F7F7F7;
}
.btn2{
    margin-left: 10px;
    border: 1px solid #6D9886;

    font-weight: 800;
}
.btn1{
    border: 1px solid #6D9886;
    font-weight: 800;
}
.btn1:hover,.btn2:hover {
    background-color: #6D9886;
    color: #F7F7F7;
}
.btn_cont{
    margin-left: 60px;
}

.title_ath{
    font-size: 30px;
    font-family: monospace;
}
.follower_count p:last-child{

    color: #6D9886;
}

.tags{
    color: #6D9886;
}
.author_div{
    border: 1px solid #6D9886;
}