{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--stylecss-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <!--icon-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>author page</title>


</head>

<body>

  <!-- navbar start -->
  <nav>
    <h3>navbar</h3>
  </nav>



  <!-- main start -->
  <main>
    <div class="profile">
      <div class="card">
        <img src="{% static 'images/author.png' %}" alt="John" style="width:180px;height:180px">
        <h1>John Doe</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Harvard University</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <p><button>Download CV</button></p>
      </div>
    </div>
    <div class="blogs">


      <div class="blogs-profile">
        <h3>miskat</h3>
        <p>aug 18</p>

        <a herf="#">
          <h4>
            Top 4 Amazing font generators for looking cool on Web
          </h4>
        </a>
        <div class="divp">
          <p>#design</p>
          <p>#design</p>
        </div>
        </a>

        <div class="reaction"><a href="#"><i class='fa fa-heart'></i>

          </a>
          <a href="#"><i class="fa fa-comment"></i></a>
          <a href="#"><i class="fa fa-share"></i></a>
        </div>

        <hr>

      </div>
      <div class="blogs-profile">
        <h3>miskat</h3>
        <p>aug 18</p>

        <a herf="#">
          <h4>
            Top 4 Amazing font generators for looking cool on Web
          </h4>
        </a>
        <div class="divp">
          <p>#design</p>
          <p>#design</p>
        </div>
        </a>


        <a href="#"><i class="fa fa-heart"></i>

        </a>
        <a href="#"><i class="fa fa-comment"></i></a>
        <a href="#"><i class="fa fa-share"></i></a>
        <hr>

      </div>

      <div class="blogs-profile">
        <h3>miskat</h3>
        <p>aug 18</p>

        <a herf="#">
          <h4>
            Top 4 Amazing font generators for looking cool on Web
          </h4>
        </a>
        <div class="divp">
          <p>#design</p>
          <p>#design</p>
        </div>
        </a>


        <a href="#"><i class="fa fa-heart"></i>

        </a>
        <a href="#"><i class="fa fa-comment"></i></a>
        <a href="#"><i class="fa fa-share"></i></a>
        <hr>

      </div>

      <div class="blogs-profile">
        <h3>miskat</h3>
        <p>aug 18</p>

        <a herf="#">
          <h4>
            Top 4 Amazing font generators for looking cool on Web
          </h4>
        </a>
        <div class="divp">
          <p>#design</p>
          <p>#design</p>
        </div>
        </a>


        <a href="#"><i class="fa fa-heart"></i>

        </a>
        <a href="#"><i class="fa fa-comment"></i></a>
        <a href="#"><i class="fa fa-share"></i></a>
        <hr>

      </div>
      <div class="blogs-profile">
        <h3>miskat</h3>
        <p>aug 18</p>

        <a herf="#">
          <h4>
            Top 4 Amazing font generators for looking cool on Web
          </h4>
        </a>
        <div class="divp">
          <p>#design</p>
          <p>#design</p>
        </div>
        </a>


        <a href="#"><i class="fa fa-heart"></i>

        </a>
        <a href="#"><i class="fa fa-comment"></i></a>
        <a href="#"><i class="fa fa-share"></i></a>
        <hr>

      </div>
      <div class="blogs-profile">
        <h3>miskat</h3>
        <p>aug 18</p>

        <a herf="#">
          <h4>
            Top 4 Amazing font generators for looking cool on Web
          </h4>
        </a>
        <div class="divp">
          <p>#design</p>
          <p>#design</p>
        </div>
        </a>


        <a href="#"><i class="fa fa-heart"></i>

        </a>
        <a href="#"><i class="fa fa-comment"></i></a>
        <a href="#"><i class="fa fa-share"></i></a>
        <hr>

      </div>
      <div class="blogs-profile">
        <h3>miskat</h3>
        <p>aug 18</p>

        <a herf="#">
          <h4>
            Top 4 Amazing font generators for looking cool on Web
          </h4>
        </a>
        <div class="divp">
          <p>#design</p>
          <p>#design</p>
        </div>
        </a>


        <a href="#"><i class="fa fa-heart"></i>

        </a>
        <a href="#"><i class="fa fa-comment"></i></a>
        <a href="#"><i class="fa fa-share"></i></a>
        <hr>

      </div>
      <div class="blogs-profile">
        <h3>miskat</h3>
        <p>aug 18</p>

        <a herf="#">
          <h4>
            Top 4 Amazing font generators for looking cool on Web
          </h4>
        </a>
        <div class="divp">
          <p>#design</p>
          <p>#design</p>
        </div>
        </a>


        <a href="#"><i class="fa fa-heart"></i>

        </a>
        <a href="#"><i class="fa fa-comment"></i></a>
        <a href="#"><i class="fa fa-share"></i></a>
        <hr>

      </div>
      <div class="blogs-profile">
        <h3>miskat</h3>
        <p>aug 18</p>

        <a herf="#">
          <h4>
            Top 4 Amazing font generators for looking cool on Web
          </h4>
        </a>
        <div class="divp">
          <p>#design</p>
          <p>#design</p>
        </div>
        </a>


        <a href="#"><i class="fa fa-heart"></i>

        </a>
        <a href="#"><i class="fa fa-comment"></i></a>
        <a href="#"><i class="fa fa-share"></i></a>
        <hr>

      </div>
    </div>
  </main>

  <!-- footer start -->
  <footer>
    <h2>shomwik</h2>
  </footer>
</body>

</html>