{% load static %}
{% block footer %}



<footer class="row foot">
      <div class="col-md-5">
        <div class="d-flex flex-column">
          <div class="footer_left">
            <ul class="d-flex flex-column mt-5">
              <li class="pb-3"><span>-</span> <a class="footer_link mr-3" href="">About Us</a></li>
              <li class="pb-3"><span>-</span> <a class="footer_link" href="">About Us</a></li>
              <li class="pb-3"><span>-</span> <a class="footer_link" href="">About Us</a></li>
              <li class="pb-3"><span>-</span> <a class="footer_link" href="">About Us</a></li>
              <li class="pb-3"><span>-</span> <a class="footer_link" href="">About Us</a></li>
            </ul>
          </div>
      </div>
      </div>
      <div class="col-md-7 donate_sec_1">
        <div class="card text-center donate_sec ">
          <div class="card-body ">
            <h5 class="card-title">Made With 🖤 and <span class="django">Django</span></h5>
            <p class="card-text">We are a non profit organization. Donate us for support</p>
            <a href="#" class="btn btn_footer">Donate <span><i class="fas fa-hand-holding-usd"></i></span></a>
          </div>
        </div>
      </div>


    </footer>
{% endblock %}