{% load static %}
<footer>
      <div class="my_footer">
        <div class="footer_grid">
          <h2>Communicate With Us</h2>
          <h3>Email</h3>
          <a href=""><p>miskatshowmik@gmail.com</p></a>
        </div>
        <div class="footer_grid">
          <h2>My Social Networks</h2>
          <ul>
            <li class="icon_lists">
              <a class="icon_links" href="#"><i class="fab fa-github"></i></a>
            </li>
            <li class="icon_lists">
              <a class="icon_links" href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="icon_lists">
              <a class="icon_links" href="#"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li class="icon_lists">
              <a class="icon_links" href="#"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer_grid">
          <h2>From</h2>
          <img src="{% static 'images/bd.png' %}" alt="" />
          <h4 style="font-family: sans-serif; margin-top: 10px">
            &copy; showmik <span id="date"></span>
          </h4>
        </div>
      </div>
    </footer>