<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
  </head>

  <body>
    {% include 'blogs/navbar.html' %}
    <div class="jumbotron">
      <h1 class="display-4">Hello, Developers!</h1>
      <p class="lead">
        This is a simple hero unit, a simple jumbotron-style component for
        calling extra attention to featured content or information.
      </p>
      <hr class="my-4" />
      <p>
        It uses utility classes for typography and spacing to space content out
        within the larger container.
      </p>
      <p class="lead">
        <a class="btn btn-outline-danger btn-lg" href="#" role="button"
          >SignUp/Login</a
        >
      </p>
    </div>

    <div class="row main_main">
      <div class="col-8">
          {% for blog in blog %}
        <section class="blogs_section">
          <h2>Recent Posts</h2>
          <div class="blog_title">
            <div class="head_share">
              <a href="{% url 'news' blog.id %}">
                <h1 class="display-4">
                    {{ blog.title}}
                </h1>
              </a>
              <ul>
                <li class="share_list">
                  <a class="share_list_link" href="{% url 'likes' blog.id %}"
                    ><i class="far fa-heart"> {{blog.react }}</i></a
                  >
                </li>
                <li class="share_list">
                  <a class="share_list_link" href="#"
                    ><i class="far fa-comment-alt"> {{ blog.comment.count }}</i></a
                  >
                </li>
              </ul>
            </div>

            <a class="share_list_link lead" href="#"
              ><i class="fas fa-user-friends"> {{ blog.author.name }} | {{ blog.time_created }}</i></a
            >
            <p>
              Python includes a number of predefined built-in functions that can
              be utilized by the end-user by simply calling them. These
              functions not only make programmers’ jobs easier, but they help
              establish a common coding environment. In this tutorial, you’ll
              learn about three of Python’s most powerful functions: map(),
              filter(), and reduce().
            </p>
            <p class="news_class">
              <i class="far fa-newspaper"></i>
              <a class="news_class_link" href="#">Read Full Blog</a>
            </p>
          </div>
        </section>
          {% endfor %}
      </div>
      <!-- <div class="col-md-1">
          Variable width content
        </div> -->
      <div class="col-4">

        <div class="side_menu_bar">
          <h3>Popular posts</h3>
            {% for blog in blog %}
          <ul>
            <li class="side_list">

              <a class="side_list_links" href="{% url 'news' blog.id %}"
                >{{ blog.title }}</a
              >

            </li>
          </ul>
            {% endfor %}
        </div>

      </div>
    </div>


    <section class="authors">
        <h1 class="display-4 text-center text-danger">Authors</h1>
      <div class="container author_pad">
        <div class="row">
          <div class="col">
            <div class="card text-center">
              <div class="card-header">
                <img src="{% static 'images/sadi.jpg' %}" alt="" class="img" />
              </div>
              <div class="card-body">
                <h5 class="card-title">Sadiqul Haque Sadi</h5>
                <p class="card-text">IIT, Dhaka University</p>
                <a href="#" class="btn btn-primary">View Profile</a>
              </div>
              <div class="card-footer text-muted">2 days ago</div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <div class="card-header">
                <img src="{% static 'images/tofayel.jpg' %}" alt="" class="img" />
              </div>
              <div class="card-body">
                <h5 class="card-title">Md. Tofayel Islam</h5>
                <p class="card-text">CSE,Daffodil International University</p>
                <a href="#" class="btn btn-primary">View Profile</a>
              </div>
              <div class="card-footer text-muted">2 days ago</div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <div class="card-header">
                <img src="{% static 'images/sadi.jpg' %}" alt="" class="img" />
              </div>
              <div class="card-body">
                <h5 class="card-title">Sadiqul Haque Sadi</h5>
                <p class="card-text">IIT, Dhaka University</p>
                <a href="#" class="btn btn-primary">View Profile</a>
              </div>
              <div class="card-footer text-muted">2 days ago</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'blogs/footer.html' %}

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
