{% load static %}
    <nav class="navbar navbar-expand-lg navbar-custom">
      <a class="navbar-brand" href="#">DIU BLOG</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse nav_links"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" selected
              >Blogs <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Documentation</a>
          </li>
          <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
        </ul>

        <div class="d-flex profile_sec">
          <div class="mr-5">
            <a href="{% url 'blog_create' %}" class="btn text-light btn_post">Create Post</a>
          </div>
          <div class="mr-4">
            <a href="#"><i class="far fa-bell"></i></a>
          </div>
          <div class="mr-5">
            <a href="#">
              <img
                src={% static "images/tofayel.jpg" %}
                width="40px"
                class="rounded-circle"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </nav>
