

<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
  </head>

  <body>
    <main class="container-fluid">
      <div class="row">
        <div class="col-9 main1">
          <div class="d-flex flex-column">
            <div class="p-2">
              <h2 class = "text-danger">
                Python most powerful functions: map(), filter(), and reduce() in
                5 minutes
              </h2>

              <p>Author - <a href="">Md. Tofayel islam</a></p>

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                vitae et ratione? Quas aut adipisci, neque totam libero commodi
                illo maxime vel pariatur fugit maiores excepturi repellendus
                alias facere modi, culpa tempora architecto quasi doloremque,
                laborum laboriosam nobis. Blanditiis corrupti et ea quidem
                dolores deleniti similique repellat. Aperiam cum inventore ipsam
                eligendi perspiciatis necessitatibus quidem atque tempora
                tenetur molestias, sunt, excepturi consequuntur impedit. Eveniet
                tenetur doloribus eius eligendi fugit velit, similique in
                quibusdam neque aperiam beatae adipisci aliquid totam? Ullam,
                libero. Ab quia facere laborum repellat. Exercitationem, maiores
                sunt? Quam delectus magnam eligendi exercitationem modi. Commodi
                nemo maxime porro minima.
              </p>
              <div class="">
                <div class="d-flex flex-row fs-12">
                  <div class="like p-2 cursor">
                    <a href=""
                      ><i class="far fa-heart"></i
                      ><span class="ml-1">React</span></a
                    >
                  </div>
                  <div class="like p-2 cursor">
                    <a href=""
                      ><i class="fa fa-share"></i
                      ><span class="ml-1">Share</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="p-2 w-75">
              <div class="p-2">
                <div class="d-flex flex-row align-items-start">
                  <img
                    class="rounded-circle"
                    src="{% static 'images/tofayel.jpg' %}"
                    width="40"
                  /><textarea
                    class="form-control ml-1 shadow-none textarea"
                    placeholder="Write a Comment"
                  ></textarea>
                </div>
                <div class="mt-2 text-right">
                  <button
                    class="btn btn-primary btn-sm shadow-none"
                    type="button"
                  >
                    Post comment</button
                  ><button
                    class="btn btn-outline-primary btn-sm ml-1 shadow-none"
                    type="button"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
            <div class="p-2 w-75">
              <div class="media">
                <img
                  class="mr-3 rounded-circle"
                  src="{% static 'images/sadi.jpg' %}"
                  width="40"
                  alt="Generic placeholder image"
                />
                <div class="media-body">
                  <h5 class="mt-0">Sadiqul Haque</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                  scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                  nisi vulputate fringilla. Donec lacinia congue felis in
                  faucibus.
                  <div class="">
                    <div class="d-flex flex-row fs-12">
                      <div class="like p-2 cursor">
                        <a href=""
                          ><i class="far fa-heart"></i
                          ><span class="ml-1">React</span></a
                        >
                      </div>
                      <div class="like p-2 cursor">
                        <a href=""
                          ><i class="fa fa-share"></i
                          ><span class="ml-1">Reply</span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-2">
              <div class="media w-75">
                <img
                  class="mr-3 rounded-circle"
                  src="{% static 'images/tofayel.jpg' %}"
                  width="40"
                  alt="Generic placeholder image"
                />
                <div class="media-body">
                  <h5 class="mt-0">Md. Tofayel Islam</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                  scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                  nisi vulputate fringilla. Donec lacinia congue felis in
                  faucibus.
                  <div class="">
                    <div class="d-flex flex-row fs-12">
                      <div class="like p-2 cursor">
                        <a href=""
                          ><i class="far fa-heart"></i
                          ><span class="ml-1">React</span></a
                        >
                      </div>
                      <div class="like p-2 cursor">
                        <a href=""
                          ><i class="fa fa-share"></i
                          ><span class="ml-1">Reply</span></a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="media mt-3">
                    <a class="pr-3" href="#">
                      <img
                        src="{% static 'images/sadi.jpg' %}"
                        class="rounded-circle"
                        width="40"
                        alt="Generic placeholder image"
                      />
                    </a>
                    <div class="media-body">
                      <h5 class="mt-0">Sadiqul Haque</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel
                      metus scelerisque ante sollicitudin. Cras purus odio,
                      vestibulum in vulputate at, tempus viverra turpis. Fusce
                      condimentum nunc ac nisi vulputate fringilla. Donec
                      lacinia congue felis in faucibus.
                      <div class="">
                        <div class="d-flex flex-row fs-12">
                          <div class="like p-2 cursor">
                            <a href=""
                              ><i class="far fa-heart"></i
                              ><span class="ml-1">React</span></a
                            >
                          </div>
                          <div class="like p-2 cursor">
                            <a href=""
                              ><i class="fa fa-share"></i
                              ><span class="ml-1">Reply</span></a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="media">
            <img class="mr-3" src="..." alt="Generic placeholder image" />
            <div class="media-body">
              <h5 class="mt-0">Media heading</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
